*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #d5cece04;
}

header img{
    float: left;
    border-radius: 10vh;
    height: 6vh;
    width: 6vh;
}

header p{
    margin-top: 5px;
    margin-right: 50px;
}

header div .at{
    color: #e99f4b;
}

nav li a{
  color: blue;
  text-decoration: none;
  list-style-type: circle;
}

nav li a:hover{
  color: #007FFF;
  text-decoration: underline;
}

nav li a:visited{
  color: rebeccapurple;
}

.SectionDiff{
    margin-top: 10px;
    padding: 10px;
}

#Notice section{
    text-align: center;
    color: red;
}

footer{
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0.1, 0, 0, 0.2);
    margin-top: 200px;
    
}

@media screen and (max-width: 600px) {
    footer {
      padding: 10px;
    }
  }

footer img {
    border-radius: 150vh;
    padding-top: 10px;
    padding-left: 15px;
    float: right;
    height: 10vh;
    width: 10vh;
    
  }

footer ul{
    list-style: none;
    padding: 0;
  }

footer a{
    color: #e99f4b;
    text-decoration: none;
  }

footer a:hover {
    text-decoration: underline;
    color: green;
  }
